
.customSignup::-webkit-scrollbar{
    width: 4px; /*width of the scrollbar */
}
.customSignup::-webkit-scrollbar-thumb{
    background-color:rgba(0, 0, 0, 0.5); /* Color of the scrollbar thumb */
    border-radius: 8px; /* Roundness of the scrollbar thumb */
}

.cudtomSignup::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.1); /* Color of the scrollbar track */
}